services:
  # ------------------------
  # FastAPI Backend (Docker)
  # ------------------------
  - type: web
    name: fastapi-car-price-api
    env: docker
    plan: free
    branch: main
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    envVars:
      - key: MODEL_PATH
        value: app/models/model.joblib

      - key: API_KEY
        sync: false

      - key: JWT_SECRET_KEY
        sync: false

      - key: DATABASE_URL
        sync: false

  # ------------------------
  # Frontend (Static Site)
  # ------------------------
  - type: static
    name: car-price-frontend
    plan: free
    branch: main
    buildCommand: ""
    staticPublishPath: frontend
